/* Default layout styling */
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.ant-layout-sider-collapsed .logo {
  font-size: 0;
}

.site-layout-background {
  background: #001529;
}

.site-layout {
  padding: 0;
}
